<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>license</key>
	<dict>
		<key>profile</key>
		<string></string>
		<key>signature</key>
		<string></string>
		<key>version</key>
		<integer>0</integer>
	</dict>
	<key>project_info</key>
	<dict>
		<key>ak</key>
		<string>86871b9b1ab33b0834d455c540d82e89</string>
		<key>app_id</key>
		<string>897226428</string>
		<key>privacy_mode</key>
		<false/>
		<key>sk</key>
		<string>f3b92c4f81c38ef47f60a23a00a9163a</string>
	</dict>
	<key>services</key>
	<dict>
		<key>update</key>
		<dict>
			<key>host</key>
			<string>https://pri-test-api.vemarsdev.com</string>
		</dict>
		<key>hotfix</key>
		<dict>
			<key>host</key>
			<string>https://pri-test-api.vemarsdev.com</string>
		</dict>
		<key>plugin</key>
		<dict>
			<key>host</key>
			<string>https://pri-test-api.vemarsdev.com</string>
		</dict>
		<key>h5</key>
		<dict>
			<key>auth_enable</key>
			<false/>
			<key>gecko_access_key</key>
			<string>22430af9fcc7dcd07d3c10c949ce1b28</string>
			<key>gecko_channels</key>
			<array>
				<string>mars-jsbridge</string>
			</array>
			<key>js_host</key>
			<string>http://pri-test-api.vemarsdev.com</string>
			<key>gecko_host</key>
			<string>http://pri-test-api.vemarsdev.com</string>
			<key>pattern</key>
			<string>http://pri-test-api.vemarsdev.com</string>
		</dict>
		<key>sdk_monitor</key>
		<dict>
			<key>host</key>
			<string>https://pri-test-api.vemarsdev.com</string>
		</dict>
		<key>remote_config</key>
		<dict>
			<key>host</key>
			<string>https://pri-test-api.vemarsdev.com</string>
		</dict>
		<key>push</key>
		<dict>
			<key>host</key>
			<string>https://pri-test-api.vemarsdev.com</string>
		</dict>
		<key>device</key>
		<dict>
			<key>host</key>
			<string>https://pri-test-api.vemarsdev.com</string>
		</dict>
		<key>license</key>
		<dict>
			<key>host</key>
			<string></string>
		</dict>
	</dict>
	<key>version</key>
	<integer>1</integer>
	<key>is_inhouse_app</key>
	<integer>1</integer>
</dict>
</plist>
